# VS Code settings
*.vscode/
*node_modules/

# Environments
*.env
*.venv
*env/
*venv/
*ENV/
*env.bak/
*venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/

# plan files
0_plan/
0_plan/task.xlsx
*.xlsx

*.pem