doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home Page
    body 
        h1 Home Page
        p Welcome to the home page of our Express application.
        p This is a simple example of using Pug as a template engine.
        p You can add more content here as needed.
        p= message