<link rel="stylesheet" href="/public/css/explore.css">

  <div class="container mt-5 new-container">
    <h2 class="text-center mb-5 fw-bold text-primary">Explore Travel Posts</h2>

    <!-- Danh sách bài đăng -->
    <div class="row justify-content-center">
      <div class="col-md-8" id="postsContainer">
        <!-- Bài đăng sẽ được render động ở đây -->
      </div>
    </div>
  </div>

<script>
  // Gọi hàm fetchPosts khi trang được tải
  document.addEventListener('DOMContentLoaded',() => fetchPosts(null));
</script>

